@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* --background: 354 50% 5%; */
        --background: 312 60% 5%;
        --foreground: 354 5% 90%;
        /* --card: 354 50% 0%; */
        --card: 312 61% 3%;
        --card-foreground: 354 5% 90%;
        --popover: 354 50% 5%;
        --popover-foreground: 354 5% 90%;
        --primary: 354 41.8% 73.7%;
        --primary-foreground: 0 0% 0%;
        --secondary: 354 30% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: 316 30% 15%;
        --muted-foreground: 354 5% 60%;
        --accent: 316 30% 15%;
        --accent-foreground: 354 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 354 5% 90%;
        --border: 354 30% 18%;
        --input: 354 30% 18%;
        --ring: 354 41.8% 73.7%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 354 50% 5%;
        --foreground: 354 5% 90%;
        --card: 354 50% 0%;
        --card-foreground: 354 5% 90%;
        --popover: 354 50% 5%;
        --popover-foreground: 354 5% 90%;
        --primary: 354 41.8% 73.7%;
        --primary-foreground: 0 0% 0%;
        --secondary: 354 30% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: 316 30% 15%;
        --muted-foreground: 354 5% 60%;
        --accent: 316 30% 15%;
        --accent-foreground: 354 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 354 5% 90%;
        --border: 354 30% 18%;
        --input: 354 30% 18%;
        --ring: 354 41.8% 73.7%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    .stackIcon {
        @apply inline text-lg text-primary absolute left-0 mr-4 top-1/2 -translate-y-1/2
    }
    .stackText {
        @apply relative w-3/4 text-center
    }
}

::-webkit-scrollbar {
    scrollbar-width: none;
}

.scrollable {
    scrollbar-width: 5px;
}